{% include "header.html" %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190617/ourmid/pngtree-creative-colorful-sport-background-image_130310.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>I am a Python Programmer and Web Developer. I have previous experience in Cloud Database Sales. I'm a UC
                Berkeley Economics Graduate. I ❤️ basketball.</p>
            <p>I am enrolled in a Python Programming Bootcamp. In the course I have learned about data structures,
                algorithms, OOP, working with API's, Flask, SQL, and much more.</p>
            <p>I am skilled in HTML and CSS, and I have a passion for web development because I love creating websites
                that people enjoy visiting.</p>
            <p>They know me around Southern California as a bit of an adult league legend. I get buckets.</p>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}